# Site settings
course_name: Probability and Statistics for Data Science
course_description: "This is a self study course on Probability and Statistics for Data Science and Machine Learning. This website documents my  learning journey."
course_semester: "2024"

baseurl: "/prob-stats" # the subpath of your site, e.g. /blog/
url: "http://nabin2004.github.io/" # the base hostname & protocol for your site

schoolname: "Self Study"
schoolurl: ""
twitter_username: nabinstwt

address: |
    Sunway College Kathmandu
    Kathmand
    Nepal

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
